html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}
body {
  font-family: system-ui, -apple-system, /* Firefox supports this but not yet `system-ui` */
      "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji";
  margin: 0;
}

#root {
  max-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}